
header  {
    text-align: center;
}

header {

}
h1{
    font-family: 'Montserrat', sans-serif;
    color: blueviolet;
}

body {
    font-family: 'Source Sans Pro', sans-serif;

}

h3 {
    color: rgb(178, 134, 204);
}
#supertitulo {
    color: blue;
}

.footer {
    text-align: center;
}

.indice {
    text-align: left;
}

#fonditobienpiola {
    background-image: url("/images/green-grass-texture-background.jpg");
    opacity: 0.75 ;
    
}
