
:root  {
    font-size: 16px;
}

h1 {
    font-size: 5rem;
    text-align: center;
    color: rgb(187, 41, 41);
}

 h2 {
    
    font-size: 1.5rem;
    text-align: center;
}


.figure-galeria {
    display: flex;
}